<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Admin Dashboard</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="static/css/dashboard.css" />
</head>
<body>
  <a href="/logout" class="fixed-top">Logout</a>
  <div class="dashboard-container">
    <h2>Welcome, Admin!</h2>

    <div class="info">
      <p><strong>Tasks you can perform:</strong></p>
      <ul>
        <li>Review and approve vendor registrations</li>
        <li>Manage vendor data and profiles</li>
        <li>Send announcements to vendors</li>
        <li>Monitor system activity</li>
      </ul>
    </div>

    <div class="buttons">
      <a href="{{ url_for('review_vendors') }}"">Review Vendors</a>
      <a href="{{ url_for('view_registrations') }}">View All Registrations</a>
      <a href="#">Send Announcement</a>
    </div>
  </div>

</body>
</html>
